body {
  padding: 0;
  background: #ecf0f1;
}
h1,
h2,
h3,
h3,
h5 {
  color: #3498db;
}
p {
  margin: 0;
}
.container {
  margin: 15px auto;
  background: #ffffff;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.25);
}
.container .col-xs-3 {
  margin: 3px 10px;
}
.container.default {
  background: #ecf0f1;
}
.navbar .container {
  margin-top: 0px;
}
#piechart,
#piechart2 {
  width: 900px;
  height: 400px;
}
