@import "variables.less";
@import "mixins.less";
body {
	padding:0;
	background: @gray;
	}
h1,h2,h3,h3,h5{
	color:@blue;
}
p {
  margin:0;
}
.container{
	margin:15px auto;
	background:@white;
	.RoundBorders (4px);
	.drop-shadow ();
}
.container .col-xs-3{
	margin:3px 10px;
}
.container.default{
	background:@gray;
}
.navbar .container{
	margin-top:0px;
}
#piechart, #piechart2{
	width:900px;
	height:400px;
}